<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ expense ? 'Edit Expense' : 'Add Expense' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Item Name</ion-label>
    <ion-input [(ngModel)]="itemName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Amount</ion-label>
    <ion-input type="number" [(ngModel)]="amount"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Category</ion-label>
    <ion-select [(ngModel)]="categoryId">
      <ion-select-option *ngFor="let c of categories" [value]="c.id">
        {{ c.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Beneficiary</ion-label>
    <ion-select [(ngModel)]="beneficiaryId">
      <ion-select-option *ngFor="let b of beneficiaries" [value]="b.id">
        {{ b.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Date</ion-label>
    <ion-datetime presentation="date" [(ngModel)]="date"></ion-datetime>
  </ion-item>

  <ion-button expand="block" (click)="addExpense()">
    {{ expense ? 'Save Changes' : 'Add Expense' }}
  </ion-button>

</ion-content>
