<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/expenses"></ion-back-button>
    </ion-buttons>
    <ion-title>Expenses for {{ date | date:'EEE, d MMM y' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list *ngIf="items.length > 0; else noData">
    <ion-item
      *ngFor="let exp of items; let i = index"
      [ngClass]="exp.spent ? 'spent-item' : 'received-item'">

      <ion-label>
        <h2>{{ exp.itemName }}</h2>
        <p [ngClass]="exp.spent ? 'text-red' : 'text-green'">
        {{ exp.spent ? 'Spent' : 'Received' }} {{ exp.amount }} SAR
        </p>
        <p>{{ exp.category.name }} for {{ exp.beneficiary.name }}</p>
      </ion-label >

      <ion-button fill="clear" color="warning" size="medium" (click)="edit(exp)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="danger" size="medium" (click)="confirmDelete(exp)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #noData>
    <ion-card>
      <ion-card-content class="ion-text-center">
        <ion-icon name="document-text-outline" size="large"></ion-icon>
        <p>No expenses found for this day</p>
      </ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>
