<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notes">
      <ion-icon name="document"></ion-icon>
      <ion-label>Notes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="expenses">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Expenses</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="categories">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
