<ion-menu side="start" menuId="sidebarMenu" contentId="mainContent">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item (click)="navigate('/tabs/profile')">Backup & Restore</ion-item>
      <ion-item (click)="navigate('/tabs/beneficiaries')">Beneficiaries</ion-item>
      <ion-item (click)="navigate('/summary')">Monthly Summary</ion-item>
      <ion-item (click)="navigate('/default-expenses')">Default Monthly Expense</ion-item>
      <ion-item (click)="navigate('/summary')">Non Domestic Expense</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
