<ion-menu side="end" menuId="sidebarMenu" contentId="mainContent">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item (click)="navigate('/tabs/home')">Home</ion-item>
      <ion-item (click)="navigate('/tabs/profile')">Backup & Restore</ion-item>
      <ion-item (click)="navigate('/tabs/home')">Beneficiaries</ion-item>
      <ion-item (click)="navigate('/tabs/notes')">Notes</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
