<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSidebar()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Today’s Snapshot -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Today</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Total Spent</h2>
            <p class="amount">SAR {{ todayTotalSpentAmount }}</p>
          </ion-col>
          <ion-col>
            <h2>Total Received</h2>
            <p class="amount">SAR 500</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Monthly Overview -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>This Month (To be updated)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar value="0.65" color="tertiary"></ion-progress-bar>
      <p>65% of your monthly budget spent</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="categoryTotals.length > 0">
    <ion-card-header>
      <ion-card-title>Categories</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let cat of categoryTotals">
          <ion-icon [name]="getCategoryIcon(cat.name)" slot="start"></ion-icon>
          <ion-label>{{ cat.name }}</ion-label>
          <ion-badge color="primary">₹{{ cat.total | number:'1.2-2' }}</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <!-- Recent Transactions -->
  <ion-card *ngIf="latestTransactions.length > 0">
    <ion-card-header>
      <ion-card-title>Recent Transactions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let tx of latestTransactions">
          <ion-label>
            {{ tx.itemName }} ({{ tx.category.name }})
            <p>{{ tx.getFormattedDate() }}</p>
          </ion-label>
          <ion-note slot="end" [color]="tx.amount < 0 ? 'success' : 'danger'">
            {{ tx.amount >= 0 ? '-' : '+' }}₹{{ tx.amount }}
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
