<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Expenses</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAddExpenseModal()">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Monthly Summary -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>This Month</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Total Spent: <strong>SAR {{ monthlyTotal | number:'1.2-2'}}</strong></h2>
      <p>Number of days expense occurred: {{ totalDays }}</p>
    </ion-card-content>
  </ion-card>

<!--  <ion-grid>
    <ion-row>
      &lt;!&ndash; Start Date Column &ndash;&gt;
      <ion-col size="4" class="date-picker-col">
        <label class="date-label">Start Date</label>
        <ion-datetime-button datetime="startDate"></ion-datetime-button>
      </ion-col>

      &lt;!&ndash; End Date Column &ndash;&gt;
      <ion-col size="4" class="date-picker-col">
        <label class="date-label">End Date</label>
        <ion-datetime-button datetime="endDate"></ion-datetime-button>
      </ion-col>

      <ion-col size="4" class="date-picker-col">
        <ion-button [disabled]="dateError">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  &lt;!&ndash; Start Date Modal &ndash;&gt;
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="startDate"
        presentation="date"
        [(ngModel)]="startDate"
        (ionChange)="validateDates()"
      ></ion-datetime>
    </ng-template>
  </ion-modal>

  &lt;!&ndash; End Date Modal &ndash;&gt;
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime
        id="endDate"
        presentation="date"
        [(ngModel)]="endDate"
        (ionChange)="validateDates()"
      ></ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-button [disabled]="dateError">Submit</ion-button>-->

  <!-- Expense List -->
  <ion-list>
    <ion-card *ngFor="let item of expenseDates" (click)="openItems(item.date)">
      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="8">
              <h2>{{ item.date | date:'EEE, MMM d' }}</h2>
              <p>Total: <strong>SAR {{ item.total }}</strong></p>
            </ion-col>
            <ion-col size="4" class="ion-text-right">
              <ion-badge [color]="item.total > 100 ? 'danger' : 'success'">
                {{ item.total > 100 ? 'High' : 'Low' }}
              </ion-badge>
              <ion-icon
                [name]="item.trend === 'up' ? 'arrow-up-outline' : 'arrow-down-outline'"
                color="{{ item.trend === 'up' ? 'danger' : 'success' }}">
              </ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
